
/*body{
  display:flex;
  margin-top: 30px;
  height:50vh;
  justify-content: center;
  align-items: center;
}

.circle{
  height:300px;
  width:300px;
  border-radius:100%;
  background-color: chartreuse;
}

.square{
   width:300px;
   height:300px;
   background-color: crimson;
}*/
/*body{
  margin:0;
  background-color: black;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

body{
  font-family: sans-serif;
  text-align: center;
  background: orange;
  padding:20px; 
}
button{
  font-size:17px;
  background:black;
  color:#fff;
  border-radius:7px
}

input{
  font-size:17px;
  padding:5px;
  border-radius:5px
}